.container {
	display: flex;
	
	}
.vertical{
	flex-direction:column;
}
.horizontal{
	flex-direction:row;
}
.horizontal img {
	width: 100%;
	height:auto;
	opacity:1;
}

.center{
	justify-content:center;
}

.spaceBetween{
	justify-content:space-between;
}
.column{

}

input{
	justify-content:center;
}

.Landscape img { 
	width: 80%;
	height: auto;
	opacity: 0.4;
}
